<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Interface </title>
        <link rel="stylesheet" href="static/css/index.css">
        <link rel="icon" href="/static/assets/img/4.png" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    </head>
    
<body>
<header>
    {{template "nav" .}} <!-- Assuming "nav" is another template defined elsewhere -->
</header>

<main>
    <!-- Admin Panel -->
    <aside>
        <h2>Admin Interface : {{.Username}}</h2>
        {{ template "manage_users" . }} <!-- This will include the manage_users template -->
    </aside>
        {{template "categories_manage" .}}
        {{template "posts_signaled_table" .}}
</main>
</body>
</html>