<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="icon" href="/static/assets/img/4.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
{{template "nav" .}}
<h4>{{.UserUsername}}, {{if eq .UserRole "traveler"}}register to {{end}}tell us a story...</h4>
{{if ne .UserRole "traveler"}}
    {{template "newpost" .}}
{{end}}
{{template "categoriesselection" .}}
{{template "lastposts" .}}
</body>
</html>
