body {
  background-color: rgb(37, 37, 37);
  color: rgb(226, 226, 226);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#main-app {
  width: 100%;
}
/*
  header {
      width: 80vw;
      display: flex;
      align-items: center;
  }
      */

button,
input[type="submit"],
input[type="file"]::file-selector-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: rgb(226, 226, 226);
  background: none;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgb(53, 53, 53);
  transition: transform 0.3s ease, background-color 0.5s;
}

button:hover,
input[type="submit"]:hover,
input[type="file"]::file-selector-button:hover {
  transform: scale(0.95);
  cursor: pointer;
  background-color: #34acfc;
}

input,
textarea {
  background-color: rgb(53, 53, 53);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: rgb(226, 226, 226);
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
}

textarea {
  background-color: rgb(37, 37, 37);
  padding: 2rem;
  width: 100%;
  height: auto; /* Permet au textarea de s'ajuster en hauteur */
  min-height: 100px; /* Hauteur minimale */
  box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}

.post {
  width: 70%;
  background-color: rgb(37, 37, 37);
  text-align: justify;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 3rem;
}

.username {
  color: #34acfc;
  font-weight: 700;
  text-align: left;
}

.nav {
  width: 70%;
}

.nav td {
  white-space: nowrap; /* Empêche le retour à la ligne */
}

.navstick {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: rgb(37, 37, 37);
}

.spacer {
  width: 100%;
}

.postcontent {
  border: none;
  border-radius: 1rem;
  font-style: italic;
}

.likesbuttons {
  min-width: 125px;
  text-align: right;
}

.posttitle {
  font-weight: bold;
}

.written {
  font-size: 0.8rem;
}

.single-post {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

/*style message me*/

#chat {
  position: fixed;
  right: 1%;
  bottom: 0%;
  width: 450px;
  height: 550px;
  background: rgb(71, 70, 70);
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  border: 2px solid black;
  display: flex;
  flex-direction: column; /* Organisation verticale */
}

/* Liste des messages */
#messages {
  flex: 1; /* Remplit tout l’espace disponible */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Affiche les messages normalement du haut vers le bas */
  overflow-y: auto; /* Active le scroll */
  list-style: none;
  padding: 5px;
  margin: 0;
  border-bottom: 2px solid rgb(62, 61, 61);
  border-top: 2px solid rgb(62, 61, 61);
  max-height: 400px; /* Hauteur max pour le scroll */
  scrollbar-width: thin; /* Minimise la barre de scroll */
  scrollbar-color: #aaa transparent; /* Style personnalisé */
}

/* Messages individuels */
#messages li {
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 45%;
  word-wrap: break-word;
  margin-top: 1%;
}

/* Messages envoyés */
.sent {
  background-color: #0ac000;
  color: white;
  align-self: flex-end;
  text-align: right;
  margin-left: auto;
  gap: 10px;
}

/* Messages reçus */
.received {
  background-color: #0268c8;
  color: white;
  align-self: flex-start;
  text-align: left;
}

/* Conteneur de l'input et du bouton */
#chat-input-container {
  position: fixed;
  bottom: 1%;
  display: flex;
  align-self: center;
  width: 400px;
}

/* Input */
#message {
  flex: 1;
  border: 1px solid rgb(29, 27, 27);
  border-radius: 5px;
}

/* Bouton Send */
#send-msg-button {
  width: 35px;
  height: 100%;
  cursor: pointer;
  border-radius: 5px;
  background-image: url("/static/assets/img/4.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid gray;
  rotate: 90deg;
  margin-left: 10px;
}

.selectUser {
  width: 60px;
  height: 60px;
  background-image: url("/static/assets/img/rafta74/profileImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.selectUser::after {
  content: var(--before-content);
  margin-left: 10px;
  position: absolute;
  font-size: 200 !important;
  font-weight: 600;
  left: 60px;
  white-space: nowrap;
  font-size: 16px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

/*Profile*/

.profile-image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  object-fit: cover;
}

/*navbar*/

.hidden {
  display: none !important;
}

#all-users {
  z-index: 1;
  position: fixed;
  right: 1%;
  top: 11%;
  background: rgb(71, 70, 70);
  width: 20%;
  margin: auto;
  padding: 20px;
  border-radius: 5px 10px 10px 10px;
  box-shadow: 0px 0px 10px gray;
}

#all-users h3 {
  font-size: 15px !important;
  color: #616261;
}

/*dot annimation*/
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dot {
  animation: blink 1.5s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

#header-chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.photo-chat {
  width: 60px;
  height: 60px;
  background-image: url("/static/assets/img/rafta74/profileImage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

#name-chat {
  flex-grow: 1;
  padding: 5px;
}

#reduce-chat,
#close-chat {
  cursor: pointer;
  padding: 5px 10px;
  background-color: rgb(92, 89, 89);
  color: white;
  border-radius: 5px;
}

#bubble-box {
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url("/static/assets/img/rafta74/profileImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  right: 1%;
  bottom: 2%;
  cursor: pointer;
}

#bubble-box::after {
  content: "";
}

.online::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(4, 216, 29);
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translateX(-50%);
}

.offline::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(91, 86, 86);
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translateX(-50%);
}

/* post header*/
#post-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

#newpost-section {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacement entre les éléments */
  max-width: 400px; /* Largeur maximale */
  margin: auto; /* Centrer le formulaire */
  padding: 20px;
  border: 1px solid #201e1e;
  border-radius: 10px;
  background-color: rgb(37, 37, 37);
}

#newpost-section label {
  font-weight: bold;
}

#newpost-section input[type="text"],
#newpost-section input[type="file"],
#newpost-section input[type="submit"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#newpost-section input[type="submit"] {
  background-color: #555e68;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

#newpost-section input[type="submit"]:hover {
  background-color: #0056b3;
}

#error-messages {
  color: red;
  font-size: 14px;
}

#categories-container {
  margin-bottom: 10px;
}

.file-upload {
  position: relative;
  display: inline-block;
  width: 100%;
}

.file-upload input[type="file"] {
  display: none; /* Cache l'input natif */
}

.file-upload label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease-in-out;
}

.file-upload label:hover {
  background-color: #53585e;
}

.file-name {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
  text-align: center;
}

/*Profile name*/
#username-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: #4a4a4b;
  margin-right: 100px;
}

/* Cache l'input file */
#imageInput {
  display: none;
}

/* Style du bouton personnalisé */
.custom-file-upload {
  position: absolute;
  top: 50%;
  right: 43%;
  width: 20px;
  height: 20px;
  display: inline-block;
  padding: 10px 15px;
  background-image: url("/static/assets/img/camera_photo_gallery_picture_icon-icons.com_75494.svg");
  background-repeat: no-repeat;
  background-position: center;
  font-weight: bold;
  border-radius: 100%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}

#submit-image {
  position: absolute;
  top: 52.5%;
  right: 42%;
}

#preview {
  max-width: 300px;
  display: block;
  /* margin-top: 10px; */
  position: absolute;
  top: 20%;
  left: 70%;
  z-index: 1;
  border-radius: 50%;
}
