{{define "ban_message"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Access Denied</title>
        <link rel="stylesheet" href="static/css/index.css">
        <link rel="icon" href="/static/assets/img/4.png" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
<body>
    <h1>🚫 Access Denied</h1>
    <p>You have been banned from this site.</p>
    <p>If you believe this is a mistake, please contact the administrator Lucas Dictator.</p>
</body>
</html>
{{end}}
